#principal {
    width: 900px;
    padding: 14px 4px;
    margin: 10px auto;
}

#cabeça {
    height: 80px;
}

#menu {
    color: black;
    float: right;
    padding: 15px;
    font-size: large;
}

#rodape {
    margin-top: 50px;
    text-align: center;
}

.itmenu {
    color: black;
    font-family: Tahoma;
    padding: 15px;
    font-size: large;
    text-decoration: none;
}

.itmenu:hover {
    color: #0000D9;
    text-decoration: underline;
}